{% extends "base.html" %}
{% block title %}Set Password{% endblock %}

{% block form %}
<p>Your password should:</p>
<ul>
	{% for value in msgDict.values() %}
	<li>{{ value }}</li>
	{% endfor %}
</ul>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.newPassword.label }}
		{{ form.newPassword() }}
	</p>
	<p>
		{{ form.confirmPassword.label }}
		{{ form.confirmPassword() }}
	</p>
	<p>
		{{ form.submit() }}
	</p>
</form>
{% if errors %}
<p>Your password did not satisfy the following criteria:</p>
<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}